{% extends 'MaithCommonAdminBundle::adminlayout.html.twig' %}
{% block pagestylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/maithcommonadmin/admin/vendor/toastr/toastr.css') }}">
{% endblock %}
{% block javascripts %}
<script src="{{ asset('bundles/maithcommonadmin/admin/vendor/toastr/toastr.min.js') }}"></script>
<script src="{{ asset('bundles/maithcommonadmin/admin/js/profile.js') }}"></script>
{% endblock %}
{% block profileinfo %}
<aside class="canvas-right sidebar-300 bg-default" id="profile_information_data">
  {% include "MaithCommonUsersBundle:User:profiledata.html.twig" %}
</aside>	
{% endblock %}
{% block body %}

<div id="edit_profile_container">
  
</div>

{% endblock body %}
